/node_modules
/public/hot
/vendor
.env
.env.backup
database/migrations_old
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/storage/*.key
/bootstrap/cache/*
/public/user/*