/node_modules
/public/hot
/vendor
.env
.env.backup
database/migrations_old
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/storage/*.key
/bootstrap/cache/*
/public/user/*
/public/images/*
/public/stock_count/*
/public/logo/Thumbs.db
.gitignore
/storage/framework/cache/data/85/5f/855f92484c8c414d36c1b25cb24876e30229cbbf
/storage_old/.gitignore
storage/framework/cache/data/85/5f/855f92484c8c414d36c1b25cb24876e30229cbbf
composer.lock
.gitignore
